html,
body {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    min-height: 100vh;
}

input {
    font-family: "Nunito Sans", sans-serif;
}

section.main {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    height: 100%;
    gap: 16px;
    padding: 24px;
}

section.main .container {
    width: 100%;
    padding: 4px 0;
    display: flex;
    gap: 26px;
}

